<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with Bootstrap 4 <fa-icon icon="heart"></fa-icon> <a href="#"> Angular 7</a>
  </div>
</nav>