<app-layout>
  <div class="jumbotron">
    <h1>Angular 7 + Bootstrap & FontAwesome</h1>
    <p>
      Body powered by Angular 7 with Bootstrap and FontAwesome!
    </p>
  </div>
</app-layout>

<router-outlet></router-outlet>
